**BU DOSYA VERİ TEMİZLEME, DÜZENLEME, FİLTRELEME İŞLEMLERİNİ İÇERİYOR.**

dataset linki: https://www.kaggle.com/datasets/flynn28/1926-2024-nfl-scores **2024 kullanıldı**

In [50]:
import numpy as np
import pandas as pd

In [51]:
#verinin içeri aktarılması

df = pd.read_csv('data/2024_NFL_SCORES.csv')

In [52]:
df.head()

print(df.shape)

print(df.describe())

(286, 8)
              WTS         LTS  Season
count  285.000000  285.000000   286.0
mean    28.659649   17.357895  2024.0
std      8.374590    7.761292     0.0
min      6.000000    0.000000  2024.0
25%     23.000000   12.000000  2024.0
50%     28.000000   17.000000  2024.0
75%     34.000000   22.000000  2024.0
max     55.000000   42.000000  2024.0

In [53]:

##missing value
missing_values = df.isnull().sum()

missing_values

Date      0
DOW       1
WT        1
LT        1
WTS       1
LTS       1
Type      0
Season    0
dtype: int64

In [54]:
##bostaki değerler frekansa göre dolduruldu ###tavsiye edilmez
df['DOW'] = df['DOW'].replace(to_replace=np.nan, value=df['DOW'].value_counts().idxmax())
df['WT'] = df['WT'].replace(to_replace=np.nan, value=df['WT'].value_counts().idxmax())
df['WTS'] = df['WTS'].replace(to_replace=np.nan, value=df['WTS'].value_counts().idxmax())
df['LTS'] = df['LTS'].replace(to_replace=np.nan, value=df['LTS'].value_counts().idxmax())
df['LT'] = df['LT'].replace(to_replace=np.nan, value=df['LT'].value_counts().idxmax())

In [55]:
missing_values = df.isnull().sum()

missing_values

Date      0
DOW       0
WT        0
LT        0
WTS       0
LTS       0
Type      0
Season    0
dtype: int64

In [56]:
print(df['Type'].unique())

['Regular Season' 'Playoff']

In [57]:
df['Season'].unique()

array([2024])

In [58]:
#günler sayılara göre değiştirildi
day_mapping = {
    "Mon": 0, "Tue": 1, "Wed": 2, "Thu": 3, "Fri": 4, "Sat": 5, "Sun": 6
}

df["DOW_Encoded"] = df["DOW"].map(day_mapping).astype(int)

df.head()

#ve gün satırı atıldı
df.drop(
    columns='Season',
    axis=1,
    inplace=True)

In [59]:
df.head()

,Date,DOW,WT,LT,WTS,LTS,Type,DOW_Encoded
0,2024-09-05,Thu,Kansas City Chiefs,Baltimore Ravens,27.0,20.0,Regular Season,3
1,2024-09-06,Fri,Philadelphia Eagles,Green Bay Packers,34.0,29.0,Regular Season,4
2,2024-09-08,Sun,Pittsburgh Steelers,Atlanta Falcons,18.0,10.0,Regular Season,6
3,2024-09-08,Sun,Buffalo Bills,Arizona Cardinals,34.0,28.0,Regular Season,6
4,2024-09-08,Sun,New Orleans Saints,Carolina Panthers,47.0,10.0,Regular Season,6

In [60]:
###kazanan takıma ait sütun olarak yazılması
df["Winner"] = df.apply(lambda row: row["WT"] if row["WTS"] > row["LTS"] else row["LT"], axis=1)

In [61]:
df.head()

,Date,DOW,WT,LT,WTS,LTS,Type,DOW_Encoded,Winner
0,2024-09-05,Thu,Kansas City Chiefs,Baltimore Ravens,27.0,20.0,Regular Season,3,Kansas City Chiefs
1,2024-09-06,Fri,Philadelphia Eagles,Green Bay Packers,34.0,29.0,Regular Season,4,Philadelphia Eagles
2,2024-09-08,Sun,Pittsburgh Steelers,Atlanta Falcons,18.0,10.0,Regular Season,6,Pittsburgh Steelers
3,2024-09-08,Sun,Buffalo Bills,Arizona Cardinals,34.0,28.0,Regular Season,6,Buffalo Bills
4,2024-09-08,Sun,New Orleans Saints,Carolina Panthers,47.0,10.0,Regular Season,6,New Orleans Saints

In [62]:
### regular sezonda en cok kazananları göster

regular_season_df = df[df["Type"] == "Regular Season"]
win_counts = regular_season_df["Winner"].value_counts()
win_counts

Winner
Kansas City Chiefs       15
Detroit Lions            15
Minnesota Vikings        14
Philadelphia Eagles      14
Buffalo Bills            13
Washington Commanders    12
Baltimore Ravens         12
Los Angeles Chargers     11
Green Bay Packers        11
Tampa Bay Buccaneers     10
Houston Texans           10
Los Angeles Rams         10
Denver Broncos           10
Seattle Seahawks         10
Pittsburgh Steelers      10
Cincinnati Bengals        9
Indianapolis Colts        8
Miami Dolphins            8
Atlanta Falcons           8
Arizona Cardinals         8
Dallas Cowboys            7
San Francisco 49ers       6
New Orleans Saints        5
Chicago Bears             5
New York Jets             5
Carolina Panthers         5
New England Patriots      4
Las Vegas Raiders         4
Jacksonville Jaguars      4
Cleveland Browns          3
New York Giants           3
Tennessee Titans          3
Name: count, dtype: int64

In [64]:
###hangiregular seszonda günlşerde ne kadar maç yapılmış
regular_season_df = df[df["Type"] == "Regular Season"]
day = regular_season_df['DOW'].value_counts()

day

DOW
Sun    221
Mon     21
Thu     19
Sat      7
Fri      2
Wed      2
Name: count, dtype: int64

In [65]:
###en farklı kazanılan 10 mac gösterme

df["Score_Max"] = abs(df["WTS"] - df["LTS"])


top_10_margin_games = df.nlargest(10, "Score_Max")
top_10_margin_games

,Date,DOW,WT,LT,WTS,LTS,Type,DOW_Encoded,Winner,Score_Max
155,2024-11-17,Sun,Detroit Lions,Jacksonville Jaguars,52.0,6.0,Regular Season,6,Detroit Lions,46.0
89,2024-10-13,Sun,Detroit Lions,Dallas Cowboys,47.0,9.0,Regular Season,6,Detroit Lions,38.0
108,2024-10-27,Sun,Detroit Lions,Tennessee Titans,52.0,14.0,Regular Season,6,Detroit Lions,38.0
267,2025-01-05,Sun,Denver Broncos,Kansas City Chiefs,38.0,0.0,Regular Season,6,Denver Broncos,38.0
4,2024-09-08,Sun,New Orleans Saints,Carolina Panthers,47.0,10.0,Regular Season,6,New Orleans Saints,37.0
46,2024-09-23,Mon,Buffalo Bills,Jacksonville Jaguars,47.0,10.0,Regular Season,0,Buffalo Bills,37.0
239,2024-12-23,Mon,Green Bay Packers,New Orleans Saints,34.0,0.0,Regular Season,0,Green Bay Packers,34.0
247,2024-12-29,Sun,Tampa Bay Buccaneers,Carolina Panthers,48.0,14.0,Regular Season,6,Tampa Bay Buccaneers,34.0
249,2024-12-29,Sun,Philadelphia Eagles,Dallas Cowboys,41.0,7.0,Regular Season,6,Philadelphia Eagles,34.0
101,2024-10-20,Sun,Washington Commanders,Carolina Panthers,40.0,7.0,Regular Season,6,Washington Commanders,33.0