In [18]:
import pandas as pd

In [19]:
###CSV
df = pd.read_csv('/home/yusuf/Masaüstü/coding/pandas-examples/pandas-tutorials/data/countries of the world.csv',header = 0, names = ['Country','region']) ##header ekledik, normalde dosyada yoktu.
df

             Country                               region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [14]:
###CSV
df = pd.read_table('/home/yusuf/Masaüstü/coding/pandas-examples/pandas-tutorials/data/countries of the world.csv', sep= ',') ##header ekledik, normalde dosyada yoktu.
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [20]:
#text file
df = pd.read_table(r'/home/yusuf/Masaüstü/coding/pandas-examples/pandas-tutorials/data/countries of the world.txt')
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [49]:
#read json file



df = pd.read_json(r'/home/yusuf/Masaüstü/coding/pandas-examples/pandas-tutorials/data/json_sample.json')

df

,12 Strong,...,Winchester
0,"{'Genre': 'Action', 'Gross': '$453,173', 'IMDB...",...,"{'Genre': 'Biography', 'Gross': '$696,786', 'I..."

In [ ]:
##excel file

df2 = pd.read_excel('/home/yusuf/Masaüstü/coding/pandas-examples/pandas-tutorials/data/world_population_excel_workbook.xlsx')
df2

In [ ]:
!pip install openpyxl

In [ ]:
pd.set_option('display.max.rows',234) ##tum satırları göstermeye ayarlar

In [ ]:
pd.set_option('display.max.columns',3) ###genellikle json veya cok sıkısık dosyalar için kullanılır

In [65]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country                      234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (kmÂ²)                  234 non-null    int64
 14  Density (per kmÂ²)           234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

In [54]:
df2.shape

(234, 17)

In [ ]:
df2.head() ##içeri verilen arguman kadar baştan satır gösterir

   Rank  ... World Population Percentage
0    36  ...                        0.52
1   138  ...                        0.04
2    34  ...                        0.56
3   213  ...                        0.00
4   203  ...                        0.00

[5 rows x 17 columns]

In [57]:
df2.tail() ##içeri verilen arguman kadar baştsondan satır gösterir

     Rank  ... World Population Percentage
229   226  ...                        0.00
230   172  ...                        0.01
231    46  ...                        0.42
232    63  ...                        0.25
233    74  ...                        0.20

[5 rows x 17 columns]

In [59]:
#location 

df2.loc[224]

Rank                                   43
CCA3                                  UZB
Country                        Uzbekistan
Capital                          Tashkent
Continent                            Asia
2022 Population                  34627652
2020 Population                  33526656
2015 Population                  30949417
2010 Population                  28614227
2000 Population                  24925554
1990 Population                  20579100
1980 Population                  15947129
1970 Population                  12011361
Area (kmÂ²)                        447400
Density (per kmÂ²)                77.3975
Growth Rate                         1.016
World Population Percentage          0.43
Name: 224, dtype: object

In [62]:
df2.loc['Yemen']

KeyError: 'Yemen'

TypeError: Cannot index by location index with a non-integer key